<a href="https://colab.research.google.com/github/sreault/github-slideshow/blob/master/08_27_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**VARIABLES AND VALUES**

value--> basic thibg program WORKS WITH. 
  - different types:
    - integers (#), floats (decimals), strings

variable--> refers to a value; in n = 17, n is the variable
operator---> symbols that represent a computation, + or*
expression-> combination of values, variables and operators

statement-> unit of code that a python interpreter can execute. ex in print("hello world") "print" os the statement and in the my_salary = 250, my_salary is hte statement

In [ ]:
print("hello world")

hello world

exercise

In [ ]:
# this is a comment
message = "Python version 3 is so much better than version 2"
# message is a string type
n = 17
pi = 3.14159
#run code and see what happened
# nothing happened because we did not ask for an output

In [ ]:
print(message)
print(n)
print(pi)
#now it will print the variables created above

Python version 3 is so much better than version 2
17
3.14159

In [ ]:
type(message)
#tells what the data type of the variables is
type(n)
type(pi)

float

In [ ]:
n = 4
o = 2
p = n+ o 
print(p)

6

In [ ]:
n = "4"
#this makes it a string
o = "2"
type(o)

str

In [ ]:
print(p)
#shoud concatenate them....not sure why it isnt

In [ ]:
t = "4"
r = "2"
c = t+r 
print(c)
#did it correctly here

42

**Good vairable syntax**
1. make it meaningful and document what the variable is used for
2. must be "legal"; not key words that already exist
- python best practices
    - variables names are case sensitive
    - formatted starting with letter A to Z and underscore, then more letters, then number 
    - good example: distance_traveled_miles